# TITANIC - DATASET CSV for Real World Problem - Practice - PANDAS (IMP)

In [1]:
import pandas as pd
import numpy as np

url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(url)

# 1. Load and print first 5 rows — understand what the data is about
print(df.head(5))
print("_" * 80)
print(df.tail(5))
df.head()

# 2. Check shape — how many passengers, how many columns
print(df.shape)
print("_" * 80)

# 3. Run .info() — check data types
df.info()
print("_" * 80)

# 4. Run .describe() — look at the numbers carefully
print(df.describe())
print("_" * 80)

# 5. Find missing values — which columns and what percentage
print(df.isnull().sum())
print((df.isnull().sum()/len(df)) * 100)
print("_" * 80)

# 6. Check duplicates

print(df.duplicated().sum())
print(df.drop_duplicates())
print("_" * 80)

# 7. Find unique values in categorical columns 
#    (Sex, Embarked, Pclass)
print(df["Sex"].unique())
print(df["Embarked"].unique())
print(df["Pclass"].unique())
print("_" * 80)

# 8. Check outliers in Age and Fare columns using IQR
print("mean:-", df["Age"].mean())
print("median:-", df["Fare"].median())

Q1 = df["Age"].quantile(0.25)
Q3 = df["Fare"].quantile(0.75)

IQR = Q3 - Q1

lower = Q1 - 1.5 * IQR
upper = Q3 - 1.5 * IQR

outliers = df[(df["Age"] < lower) | (df["Fare"] > upper)]
print(f"Number of outliers: {len(outliers)}")
print(outliers)
print("_" * 80)


# 9. Find correlation — which columns relate most to "Survived"
print(df.corr(numeric_only=True))
print(df.corr(numeric_only=True)["Survived"])
print("_" * 80)

# 10. Answer these questions using your Pandas skills:
# a) How many passengers survived vs didn't survive?
#    (value_counts on Survived column)
surv_pass = df["Survived"].value_counts()
print(surv_pass)
print("_" * 80)


# b) What was the survival rate? (percentage)
surv_count = np.sum(df["Survived"] == 1)
surv_count_perc = (surv_count / len(df)) * 100
print("The survival rate is :-",surv_count_perc)
print("_" * 80)


# c) What was the average age of passengers?
avg_age = df["Age"].mean().round(2)
print("The average age of passengers :-",avg_age)
print("_" * 80)

# d) How many males vs females were on the ship?
males_fema = df["Sex"].value_counts()
print(males_fema)
print("_" * 80)

# e) Which passenger class (Pclass) had most passengers?
most_pass = df["Pclass"].value_counts().idxmax()
print(f"The {most_pass} has the most Passengers in the list")
print("_" * 80)

# f) Find average Fare per Pclass using groupby
avg_fare = df.groupby("Pclass")["Fare"].mean().round(2)
print(avg_fare)
print("_" * 80)

# g) Find survival count per Sex using groupby
surv_count_sex = df.groupby("Sex")["Survived"].count()
print(surv_count_sex)
print("_" * 80)
df.head()

# h) Find the oldest and youngest passenger on the ship
old_young_pass = df["Age"].agg(["min" , "max"])
print(old_young_pass)

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
________________________________________________________________________________
     PassengerId  Survived  Pclass                                      Name  \
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch      Ticket   Fare Cabin Embarked
886    male  27.0      0      0      211536  13.00   NaN        S
887  female  19.0      0      0      112053  30.00   B42        S
888  female   NaN      1      2  W./C. 6607  23.45   NaN        S
889    male  26.0      0      0      111369  30.00  C148        C
890    male  32.0      0      0      370376   7.75   NaN        Q
(891, 12)
________________________________________________________________________________
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
________________________________________________________________________________
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200
________________________________________________________________________________
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
PassengerId     0.000000
Survived        0.000000
Pclass          0.000000
Name            0.000000
Sex             0.000000
Age            19.865320
SibSp           0.000000
Parch           0.000000
Ticket          0.000000
Fare            0.000000
Cabin          77.104377
Embarked        0.224467
dtype: float64
________________________________________________________________________________
0
     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]
________________________________________________________________________________
['male' 'female']
['S' 'C' 'Q' nan]
[3 1 2]
________________________________________________________________________________
mean:- 29.69911764705882
median:- 14.4542
Number of outliers: 439
     PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
6              7         0       1
7              8         0       3
9             10         1       2
..           ...       ...     ...
880          881         1       2
885          886         0       3
887          888         1       1
888          889         0       3
889          890         1       1

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                              McCarthy, Mr. Timothy J    male  54.0      0
7                       Palsson, Master. Gosta Leonard    male   2.0      3
9                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
..                                                 ...     ...   ...    ...
880       Shelley, Mrs. William (Imanita Parrish Hall)  female  25.0      0
885               Rice, Mrs. William (Margaret Norton)  female  39.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0

     Parch      Ticket     Fare Cabin Embarked
1        0    PC 17599  71.2833   C85        C
3        0      113803  53.1000  C123        S
6        0       17463  51.8625   E46        S
7        1      349909  21.0750   NaN        S
9        0      237736  30.0708   NaN        C
..     ...         ...      ...   ...      ...
880      1      230433  26.0000   NaN        S
885      5      382652  29.1250   NaN        Q
887      0      112053  30.0000   B42        S
888      2  W./C. 6607  23.4500   NaN        S
889      0      111369  30.0000  C148        C

[439 rows x 12 columns]
________________________________________________________________________________
             PassengerId  Survived    Pclass       Age     SibSp     Parch  \
PassengerId     1.000000 -0.005007 -0.035144  0.036847 -0.057527 -0.001652
Survived       -0.005007  1.000000 -0.338481 -0.077221 -0.035322  0.081629
Pclass         -0.035144 -0.338481  1.000000 -0.369226  0.083081  0.018443
Age             0.036847 -0.077221 -0.369226  1.000000 -0.308247 -0.189119
SibSp          -0.057527 -0.035322  0.083081 -0.308247  1.000000  0.414838
Parch          -0.001652  0.081629  0.018443 -0.189119  0.414838  1.000000
Fare            0.012658  0.257307 -0.549500  0.096067  0.159651  0.216225

                 Fare
PassengerId  0.012658
Survived     0.257307
Pclass      -0.549500
Age          0.096067
SibSp        0.159651
Parch        0.216225
Fare         1.000000
PassengerId   -0.005007
Survived       1.000000
Pclass        -0.338481
Age           -0.077221
SibSp         -0.035322
Parch          0.081629
Fare           0.257307
Name: Survived, dtype: float64
________________________________________________________________________________
Survived
0    549
1    342
Name: count, dtype: int64
________________________________________________________________________________
The survival rate is :- 38.38383838383838
________________________________________________________________________________
The average age of passengers :- 29.7
________________________________________________________________________________
Sex
male      577
female    314
Name: count, dtype: int64
________________________________________________________________________________
The 3 has the most Passengers in the list
________________________________________________________________________________
Pclass
1    84.15
2    20.66
3    13.68
Name: Fare, dtype: float64
________________________________________________________________________________
Sex
female    314
male      577
Name: Survived, dtype: int64
________________________________________________________________________________
min     0.42
max    80.00
Name: Age, dtype: float64

# Store Market BIG_DATASET Real World Problem ⭐⭐⭐⭐

In [ ]:

import pandas as pd
import numpy as np


file_id = "1lbxmLzSrAgbSouBpkVaD4RP3rndxtNxP"
url = f"https://drive.google.com/uc?id={file_id}"

df = pd.read_csv(url, encoding="latin-1")
df

# SECTION A — First Look & Exploration

# 1.  Print first 5 rows and last 5 rows
print(df.head(5))
print(df.tail(5))
print("_" * 100)

# 2.  Check shape — how many orders and columns
print(df.shape)
print("_" * 100)

# 3.  Print all column names
print(df.columns.tolist())
print("_" * 100)

# 4.  Run .info() — check data types
print(df.info())
print("_" * 100)

# 5.  Run .describe() — observe Sales, Profit, 
#     Discount carefully
print(df.describe())
print("_" * 100)

# 6.  Find missing values — column wise 
#     count and percentage
print(df.isnull().sum())
print("_" * 100)



# How many orders have negative profit?
print("Loss making orders:", np.sum(df["Profit"] < 0))
print("_" * 100)

# What is the total loss amount?
print("Total loss amount: $", df[df["Profit"] < 0]["Profit"].sum().round(2))
print("_" * 100)

# Which category has most losses?
print(df[df["Profit"] < 0]["Category"].value_counts())
print("_" * 100)



# # -----------------------------------------------

# SECTION B — Data Cleaning

# 7.  Check duplicate rows — print count
#     and remove them. Print shape before and after.
print(df.duplicated().count())
print(df.shape)
print("_" * 100)


# 8.  Check unique values in these 4 columns:
#     - Ship Mode
#     - Segment
#     - Region
#     - Category
print(df["Ship Mode"].unique())
print(df["Segment"].unique())
print(df["Region"].unique())
print(df["Category"].unique())
print("_" * 100)

# 9.  Convert "Order Date" and "Ship Date" 
#     from string to datetime:
#     Hint: df["Order Date"] = pd.to_datetime(df["Order Date"])
df["Order Date"] = pd.to_datetime(df["Order Date"])
df["Ship Date"] = pd.to_datetime(df["Ship Date"])
df.info()

# 10. After converting, extract year from Order Date
#     into a new column called "Order_Year":
#     Hint: df["Order Date"].dt.year
df["Order_Year"] = df["Order Date"].dt.year
df

# # -----------------------------------------------

# SECTION C — Feature Engineering

# 11. Add "Profit_Margin" column:
#     Formula: (Profit / Sales) * 100
#     Round to 2 decimals
#     This tells what % of each sale becomes profit
df["Profit_Margin"] = ((df["Profit"] / df["Sales"]) * 100).round(2)
df

# 12. Add "Processing_Days" column:
#     Formula: (Ship Date - Order Date).dt.days
#     This tells how many days it took to ship
df["Processing_Days"] = (df["Ship Date"] - df["Order Date"]).dt.days
df

# 13. Add "Sales_Category" column using np.select():
#     Sales >= 1000 → "High Value"
#     Sales >= 500  → "Medium Value"
#     Otherwise     → "Low Value"

condition = [
    df["Sales"] >= 1000,
    df["Sales"] >=500,
]

choice_list = ["High Value","Medium Value"]
df["Sales_Category"] = np.select(condition , choice_list, default="Low Value")
df

# 14. Add "Profitable" column using np.where():
#     Profit > 0 → "Yes"
#     Otherwise  → "No"
df["Profitable"] = np.where(df["Profit"] >0 , "Yes" , "No")
df

# 15. Add "Discount_Type" column using np.select():
#     Discount == 0    → "No Discount"
#     Discount <= 0.2  → "Low Discount"
#     Discount <= 0.4  → "Medium Discount"
#     Otherwise        → "High Discount"
condition_disc = [
    df["Discount"] == 0,
    df["Discount"] <= 0.2,
    df["Discount"] <= 0.4,
]

choice_list_disc = ["No Discount", "Low Discount", "Medium Discount"]

df["Discount_Type"] = np.select(condition_disc , choice_list_disc , default = "High Discount")
df


# # -----------------------------------------------

# SECTION D — Filtering & Selection

# 16. Use iloc to select rows 5 to 15, 
#     first 6 columns
filter_rows = df.iloc[5:16 , :6]
print(filter_rows)
print("_" * 100)

# 17. Use loc to get Order ID, Customer Name, 
#     Sales, Profit of all LOSS making orders
#     (Profit < 0)
#     How many loss making orders exist?
loss_making = df.loc[df["Profit"] < 0 ,["Order ID" , "Customer Name", "Sales"]]
print(loss_making)
print("_" * 100)
df

# 18. Filter all orders from "Technology" category
filter_orders_tech = df.loc[df["Category"] == "Technology"]
# print(df["Category"].unique())
print(filter_orders_tech)
print("_" * 100)

# 19. Filter orders where:
#     Sales > 500 AND Profit > 0
filter_orders_sales = df.loc[(df["Sales"] > 500) & (df["Profit"] > 0)]
print(filter_orders_sales)
print("_" * 100)

# 20. Filter orders from "West" OR "East" region
#     Hint: .isin()
# region = ["West" , "East"]
filter_west_Region = df.loc[(df["Region"] == "West") | (df["Region"] == "East")]
print(filter_west_Region)
print("_" * 100)

# 21. Filter orders where Discount is 0
#     (full price orders)
filter_orders_disc = df.loc[df["Discount"] == 0]
print(filter_orders_disc)
print("_" * 100)

# 22. Find top 10 orders by highest Sales
#     Hint: sort_values + head(10)
filter_top10 = df.sort_values("Sales" , ascending = False).head(10)
print(filter_top10)
print("_" * 100)

# 23. Find top 10 most loss making orders
#     (lowest profit — most negative)
#     Hint: sort_values ascending=True + head(10)
filter_top10_loss = df.sort_values("Profit" , ascending = True).head(10)
print(filter_top10_loss)
print("_" * 100)

# # -----------------------------------------------

# SECTION E — Groupby Analysis

# 24. Find total Sales per Category
find_total_sales = df.groupby("Category")["Sales"].sum()
print(find_total_sales)
print("_" * 100)

# 25. Find total Profit per Category
find_total_profit = df.groupby("Category")["Profit"].sum()
print(find_total_profit)
print("_" * 100)

# 26. Find average Discount per Category
find_avg_disc = df.groupby("Category")["Discount"].mean()
print(find_avg_disc)
print("_" * 100)

# 27. Find total Sales per Region
find_avg_disc = df.groupby("Region")["Sales"].sum()
print(find_avg_disc)
print("_" * 100)

# 28. Find average Processing_Days per Ship Mode
#     Which shipping mode is fastest?
find_avg_ship = df.groupby("Ship Mode")["Processing_Days"].mean().idxmax()
print(f"{find_avg_ship}shipping mode is fastest")
print("_" * 100)

# 29. Find total Sales per Order_Year
#     How has business grown year by year?
find_total_sales_orderyear = df.groupby("Order_Year")["Sales"].sum().diff()
print(f"This is the bussiness Sales \n {find_total_sales_orderyear } values grown year by year",)
print("_" * 100)

# 30. Find mean, max, min of Profit 
#     per Segment in ONE line using .agg()
find_mean_max_min = df["Profit"].agg(["mean" , "max" , "min"])
print(find_mean_max_min)
print("_" * 100)
# 31. Find which Sub-Category has 
#     highest total Sales
#     Hint: groupby + sum + idxmax()
find_subcategory = df.groupby("Category")["Sales"].sum().idxmax()
print(f"{find_subcategory} has the highest total sales")
print("_" * 100)

# 32. Find which Sub-Category has 
#     highest total Profit
find_subcat_profit = df.groupby("Category")["Profit"].sum().idxmax()
print(f"{find_subcat_profit} has the highest total profit")
print("_" * 100)

# 33. Find which Sub-Category has 
#     most LOSS (most negative profit)
#     Hint: groupby + sum + idxmin()
find_subcat_loss_pro = df.groupby("Category")["Profit"].sum().idxmin()
print(f"{find_subcat_loss_pro} has the most negative profit")
print("_" * 100)

# # -----------------------------------------------

# SECTION F — Business Insights

# 34. What percentage of orders are loss making?
#     (Profit < 0)
#     Use np.sum() method
total_loss_profit = np.sum(df["Profit"] < 0)
find_perc_loss = (total_loss_profit / len(df))* 100
print(f"{find_perc_loss.round(2)} percentage of orders are loss making")
print("_" * 100)

# 35. Find top 5 customers by total Sales
#     Hint: groupby "Customer Name" + 
#     sum + sort_values + head(5)
top5_cust_sales = df.groupby("Customer Name")["Sales"].sum().sort_values().head(5)
print(top5_cust_sales)
print("_" * 100)

# 36. Find which State has highest total Sales
#     Hint: groupby "State" + sum + idxmax()
find_state_sales = df.groupby("State")["Sales"].sum().idxmax()
print(f"{find_state_sales} has highest total Sales")
print("_" * 100)

# 37. Find which Ship Mode is used most
#     Hint: value_counts()
find_shipmode = df["Ship Mode"].value_counts().idxmax()
print(f"{find_shipmode} Ship Mode is used most")
print("_" * 100)

# 38. Find average Profit Margin per Category
#     Hint: groupby + mean on Profit_Margin column
find_avg_pro_margin = df.groupby("Category")["Profit_Margin"].mean()
print(find_avg_pro_margin)
print("_" * 100)
# df



# # -----------------------------------------------

# SECTION G — Think Like a Data Analyst

# 39. Find total Sales AND total Profit together
#     for each Category + Region combination
#     Hint: groupby(["Category","Region"])[["Sales","Profit"]].sum()
find_sale_profit_toget = df.groupby(["Category" , "Region"])[["Sales" , "Profit"]].sum()
print(find_sale_profit_toget)
print("_" * 100)

# 40. Find what % of total Sales 
#     comes from each Category:
#     Formula:
#     cat_sales = df.groupby("Category")["Sales"].sum()
#     total_sales = df["Sales"].sum()
#     percentage = (cat_sales / total_sales) * 100
#     print(percentage.round(2))
cat_percenteage_sales = df.groupby("Category")["Sales"].sum()
total_sales = df["Sales"].sum()
percentage = (cat_percenteage_sales / total_sales) * 100
print(percentage.round(2))
print("_" * 100)

# 41. Find the most profitable Region
#     (highest total Profit)
find_profitable_region = df.groupby("Region")["Profit"].sum().idxmax()
print(f"{find_profitable_region} is the most profitable Region")
print("_" * 100)

# 42. Find the year with highest total Sales
#     Hint: groupby "Order_Year" + sum + idxmax()
find_year_max_sales = df.groupby("Order_Year")["Sales"].sum().idxmax()
print(f"{find_year_max_sales} is the year with highest total Sales")
print("_" * 100)

# 43. Find which Segment brings most Revenue
#     AND most Profit — are they the same?
find_seg_max_rev_pro = df.groupby("Segment")["Profit"].sum().idxmax()
print(find_seg_max_rev_pro)
print("_" * 100)

# 44. Find top 3 States by total Profit
find_top3_states = df.groupby("State")["Profit"].sum().sort_values(ascending=False).head(3)
print(find_top3_states)

# 45. Write 3 business insights in comments
#     based on everything you found:

#     # Insight 1: ___ This data is all about the supermarket store data of all branches in the cities and states etc everything about profits and losses etc 
#     # Insight 2: ___ there are so many  losses due heavy offers conducting by the company which is not relevant
#     # Insight 3: ___california , new york , washington are the top 3 companies to get high profits and suppose if company want the high profits , do not keep high offers
                        # check the non selling stock and put them in offer in festival days and some other related days so , the stock will be over and company 
                        # will get more profits and it will grow
    
#     Think like a business analyst —
#     what does this data tell the company?

   Row ID        Order ID  Order Date   Ship Date       Ship Mode Customer ID  \
0       1  CA-2016-152156   11/8/2016  11/11/2016    Second Class    CG-12520
1       2  CA-2016-152156   11/8/2016  11/11/2016    Second Class    CG-12520
2       3  CA-2016-138688   6/12/2016   6/16/2016    Second Class    DV-13045
3       4  US-2015-108966  10/11/2015  10/18/2015  Standard Class    SO-20335
4       5  US-2015-108966  10/11/2015  10/18/2015  Standard Class    SO-20335

     Customer Name    Segment        Country             City  ...  \
0      Claire Gute   Consumer  United States        Henderson  ...
1      Claire Gute   Consumer  United States        Henderson  ...
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...

  Postal Code  Region       Product ID         Category Sub-Category  \
0       42420   South  FUR-BO-10001798        Furniture    Bookcases
1       42420   South  FUR-CH-10000454        Furniture       Chairs
2       90036    West  OFF-LA-10000240  Office Supplies       Labels
3       33311   South  FUR-TA-10000577        Furniture       Tables
4       33311   South  OFF-ST-10000760  Office Supplies      Storage

                                        Product Name     Sales  Quantity  \
0                  Bush Somerset Collection Bookcase  261.9600         2
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2  Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3      Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                     Eldon Fold 'N Roll Cart System   22.3680         2

   Discount    Profit
0      0.00   41.9136
1      0.00  219.5820
2      0.00    6.8714
3      0.45 -383.0310
4      0.20    2.5164

[5 rows x 21 columns]
      Row ID        Order ID Order Date  Ship Date       Ship Mode  \
9989    9990  CA-2014-110422  1/21/2014  1/23/2014    Second Class
9990    9991  CA-2017-121258  2/26/2017   3/3/2017  Standard Class
9991    9992  CA-2017-121258  2/26/2017   3/3/2017  Standard Class
9992    9993  CA-2017-121258  2/26/2017   3/3/2017  Standard Class
9993    9994  CA-2017-119914   5/4/2017   5/9/2017    Second Class

     Customer ID     Customer Name   Segment        Country         City  ...  \
9989    TB-21400  Tom Boeckenhauer  Consumer  United States        Miami  ...
9990    DB-13060       Dave Brooks  Consumer  United States   Costa Mesa  ...
9991    DB-13060       Dave Brooks  Consumer  United States   Costa Mesa  ...
9992    DB-13060       Dave Brooks  Consumer  United States   Costa Mesa  ...
9993    CC-12220      Chris Cortes  Consumer  United States  Westminster  ...

     Postal Code  Region       Product ID         Category Sub-Category  \
9989       33180   South  FUR-FU-10001889        Furniture  Furnishings
9990       92627    West  FUR-FU-10000747        Furniture  Furnishings
9991       92627    West  TEC-PH-10003645       Technology       Phones
9992       92627    West  OFF-PA-10004041  Office Supplies        Paper
9993       92683    West  OFF-AP-10002684  Office Supplies   Appliances

                                           Product Name    Sales  Quantity  \
9989                             Ultra Door Pull Handle   25.248         3
9990  Tenex B1-RE Series Chair Mats for Low Pile Car...   91.960         2
9991                              Aastra 57i VoIP phone  258.576         2
9992  It's Hot Message Books with Stickers, 2 3/4" x 5"   29.600         4
9993  Acco 7-Outlet Masterpiece Power Center, Wihtou...  243.160         2

      Discount   Profit
9989       0.2   4.1028
9990       0.0  15.6332
9991       0.2  19.3932
9992       0.0  13.3200
9993       0.0  72.9480

[5 rows x 21 columns]
____________________________________________________________________________________________________
(9994, 21)
____________________________________________________________________________________________________
['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode', 'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State', 'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit']
____________________________________________________________________________________________________
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB
None
____________________________________________________________________________________________________
            Row ID   Postal Code         Sales     Quantity     Discount  \
count  9994.000000   9994.000000   9994.000000  9994.000000  9994.000000
mean   4997.500000  55190.379428    229.858001     3.789574     0.156203
std    2885.163629  32063.693350    623.245101     2.225110     0.206452
min       1.000000   1040.000000      0.444000     1.000000     0.000000
25%    2499.250000  23223.000000     17.280000     2.000000     0.000000
50%    4997.500000  56430.500000     54.490000     3.000000     0.200000
75%    7495.750000  90008.000000    209.940000     5.000000     0.200000
max    9994.000000  99301.000000  22638.480000    14.000000     0.800000

            Profit
count  9994.000000
mean     28.656896
std     234.260108
min   -6599.978000
25%       1.728750
50%       8.666500
75%      29.364000
max    8399.976000
____________________________________________________________________________________________________
Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64
____________________________________________________________________________________________________
Loss making orders: 1871
____________________________________________________________________________________________________
Total loss amount: $ -156131.29
____________________________________________________________________________________________________
Category
Office Supplies    886
Furniture          714
Technology         271
Name: count, dtype: int64
____________________________________________________________________________________________________