In [2]:
import pandas as pd


num = pd.Series([1,2,3,4,5,6])
print(num)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [3]:
num = pd.Series([1,2,3,4,5,6,7] , index=["a" , "b" , "c" , "d","e","f","g"])

num
print(num[2])
print(num[:7])
print(num["b"])

3
a    1
b    2
c    3
d    4
e    5
f    6
g    7
dtype: int64
2

/tmp/ipython-input-2924277500.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(num[2])

In [4]:
data = {
    "Name":       ["Ravi", "Priya", "Arjun", "Sneha", "Kumar"],
    "Age":        [28, 32, 25, 29, 35],
    "Salary":     [45000, 75000, 50000, 80000, 60000],
    "Department": ["HR", "Tech", "Finance", "Tech", "HR"]
}

df = pd.DataFrame(data)

# for i in df["name"]:
#     print(i)
print(df)
print("_" * 45)
# print(df.head())
print(df.head(2))
print("_" * 45)
print(df.tail(2),"\n")
print(df.shape)

    Name  Age  Salary Department
0   Ravi   28   45000         HR
1  Priya   32   75000       Tech
2  Arjun   25   50000    Finance
3  Sneha   29   80000       Tech
4  Kumar   35   60000         HR
_____________________________________________
    Name  Age  Salary Department
0   Ravi   28   45000         HR
1  Priya   32   75000       Tech
_____________________________________________
    Name  Age  Salary Department
3  Sneha   29   80000       Tech
4  Kumar   35   60000         HR

(5, 4)

In [5]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        5 non-null      object
 1   Age         5 non-null      int64
 2   Salary      5 non-null      int64
 3   Department  5 non-null      object
dtypes: int64(2), object(2)
memory usage: 292.0+ bytes
None

In [6]:
df.describe()

             Age        Salary
count   5.000000      5.000000
mean   29.800000  62000.000000
std     3.834058  15247.950682
min    25.000000  45000.000000
25%    28.000000  50000.000000
50%    29.000000  60000.000000
75%    32.000000  75000.000000
max    35.000000  80000.000000

In [7]:
df

    Name  Age  Salary Department
0   Ravi   28   45000         HR
1  Priya   32   75000       Tech
2  Arjun   25   50000    Finance
3  Sneha   29   80000       Tech
4  Kumar   35   60000         HR

In [10]:
high_earners = df[df["Salary"]>60000]

emp = df[df["Department"] == "Tech"]


result = df[(df["Salary"] > 50000) & (df["Department"] == "Tech")]


# Adding new column
df["New Salary"] = df["Salary"] * 1.10


df.columns
print(high_earners)
print(emp)
print(result)
# print(df)

    Name  Age  Salary Department  New Salary
1  Priya   32   75000       Tech     82500.0
3  Sneha   29   80000       Tech     88000.0
    Name  Age  Salary Department  New Salary
1  Priya   32   75000       Tech     82500.0
3  Sneha   29   80000       Tech     88000.0
    Name  Age  Salary Department  New Salary
1  Priya   32   75000       Tech     82500.0
3  Sneha   29   80000       Tech     88000.0

# Small Assignment of first Phase

In [8]:
# A company has 7 employees:

# Name:       ["Arun", "Bhanu", "Chitra", "Deepak",
#              "Esha", "Farhan", "Geetha"]
# Age:        [24, 35, 28, 42, 30, 26, 38]
# Salary:     [30000, 85000, 52000, 95000, 61000, 40000, 78000]
# Department: ["HR", "Tech", "Finance", "Tech",
#              "HR", "Finance", "Tech"]
# Experience: [1, 8, 4, 15, 6, 2, 10]

# Tasks:
# 1. Create a DataFrame with this data
# 2. Print first 4 rows using .head()
# 3. Check shape, info, and describe
# 4. Select only the Name and Salary columns
# 5. Filter employees whose salary is above 60000
# 6. Filter employees who are in the Tech department
# 7. Add a new column "Bonus" = 10% of salary for everyone
# 8. Find the average salary using the DataFrame column

In [65]:
import pandas as pd
# import numpy as np

data = {
    "Name" :      ["Arun", "Bhanu", "Chitra", "Deepak", "Esha", "Farhan", "Geetha"],
    "Age" :       [24, 35, 28, 42, 30, 26, 38],
    "Salary":     [30000, 85000, 52000, 95000, 61000, 40000, 78000],
    "Department": ["HR", "Tech", "Finance", "Tech", "HR", "Finance", "Tech"],
    "Experience": [1, 8, 4, 15, 6, 2, 10]
}


df = pd.DataFrame(data)

# Tasks:
# 1. Create a DataFrame with this data
print(df)
print("_"*45)
# 2. Print first 4 rows using .head()
first_4_rows = df.head(4)
print(first_4_rows)

# 3. Check shape, info, and describe
# print(df.shape)
# print("_"*45)
# df.describe()
# print("_"*45)
# df.info()

# 4. Select only the Name and Salary columns
name_col = df[["Name","Salary"]]
print(name_col)
print("_"*45)

# 5. Filter employees whose salary is above 60000
filter_sal = df[df["Salary"] > 60000]
print(filter_sal)
print("_"*45)

# 6. Filter employees who are in the Tech department
filter_tech = df[df["Department"] == "Tech"]
print(filter_tech)
print("_"*45)

# 7. Add a new column "Bonus" = 10% of salary for everyone
df["Bonus Salary"] = df["Salary"] * 1.10
print(df)

# 8. Find the average salary using the DataFrame column
avg_salary = df["Salary"].mean()
print(avg_salary)

     Name  Age  Salary Department  Experience
0    Arun   24   30000         HR           1
1   Bhanu   35   85000       Tech           8
2  Chitra   28   52000    Finance           4
3  Deepak   42   95000       Tech          15
4    Esha   30   61000         HR           6
5  Farhan   26   40000    Finance           2
6  Geetha   38   78000       Tech          10
_____________________________________________
     Name  Age  Salary Department  Experience
0    Arun   24   30000         HR           1
1   Bhanu   35   85000       Tech           8
2  Chitra   28   52000    Finance           4
3  Deepak   42   95000       Tech          15
     Name  Salary
0    Arun   30000
1   Bhanu   85000
2  Chitra   52000
3  Deepak   95000
4    Esha   61000
5  Farhan   40000
6  Geetha   78000
_____________________________________________
     Name  Age  Salary Department  Experience
1   Bhanu   35   85000       Tech           8
3  Deepak   42   95000       Tech          15
4    Esha   30   61000         HR           6
6  Geetha   38   78000       Tech          10
_____________________________________________
     Name  Age  Salary Department  Experience
1   Bhanu   35   85000       Tech           8
3  Deepak   42   95000       Tech          15
6  Geetha   38   78000       Tech          10
_____________________________________________
     Name  Age  Salary Department  Experience  Bonus Salary
0    Arun   24   30000         HR           1       33000.0
1   Bhanu   35   85000       Tech           8       93500.0
2  Chitra   28   52000    Finance           4       57200.0
3  Deepak   42   95000       Tech          15      104500.0
4    Esha   30   61000         HR           6       67100.0
5  Farhan   26   40000    Finance           2       44000.0
6  Geetha   38   78000       Tech          10       85800.0
63000.0

In [8]:
# Print first 2 rows
# Print shape
# Print column names
# Find average salary
# Add a column "Bonus" = Salary * 0.1

In [74]:
data = {
    "Name" : ["A","B","C","D"],
    "Age"  : [25,28,22,30],
    "Salary" :[30000,40000,25000,50000]
}

df = pd.DataFrame(data)
print(df)

print(df.head(2))

df.shape
print(df["Name"])
print(df["Salary"].mean())

df["Bonus"] = df["Salary"] * 0.1
df

  Name  Age  Salary
0    A   25   30000
1    B   28   40000
2    C   22   25000
3    D   30   50000
  Name  Age  Salary
0    A   25   30000
1    B   28   40000
0    A
1    B
2    C
3    D
Name: Name, dtype: object
36250.0

  Name  Age  Salary   Bonus
0    A   25   30000  3000.0
1    B   28   40000  4000.0
2    C   22   25000  2500.0
3    D   30   50000  5000.0

In [96]:
import numpy as np

data2 = {
    "Name":       ["Ravi", "Priya", "Arjun", "Sneha", "Kumar", "Divya"],
    "Age":        [28, 32, None, 29, 35, 27],
    "Salary":     [45000, None, 50000, 80000, None, 60000],
    "Department": ["HR", "Tech", None, "Tech", "HR", "Finance"]
}
df2 = pd.DataFrame(data2)
print(df2)

print(df2.isnull())
print(df2.isnull().sum())

df_dropped = df2.dropna()
print(df_dropped)


# fillna()
filling_age = df2["Age"].mean()
df2["Age"] = df2["Age"].fillna(filling_age)

filling_salary = df2["Salary"].median()
df2["Salary"] = df2["Salary"].fillna(filling_salary)


df2["Department"] = df2["Department"].fillna(df2["Department"].mode()[0])

print(df2)
print(df2.isnull().sum())


# Grouby operation
grouping = df2.groupby("Department")["Salary"].mean()
print(grouping)

print(df2.groupby("Department")["Salary"].sum())
print(df2.groupby("Department")["Salary"].count())
print(df2.groupby("Department")["Salary"].max())
print("_"*50)
print(df2.groupby("Department")["Salary"].agg(["mean" , "max" , "count" ,"sum"]))
print(df2.groupby("Department")[["Salary", "Age"]].mean())

    Name   Age   Salary Department
0   Ravi  28.0  45000.0         HR
1  Priya  32.0      NaN       Tech
2  Arjun   NaN  50000.0       None
3  Sneha  29.0  80000.0       Tech
4  Kumar  35.0      NaN         HR
5  Divya  27.0  60000.0    Finance
    Name    Age  Salary  Department
0  False  False   False       False
1  False  False    True       False
2  False   True   False        True
3  False  False   False       False
4  False  False    True       False
5  False  False   False       False
Name          0
Age           1
Salary        2
Department    1
dtype: int64
    Name   Age   Salary Department
0   Ravi  28.0  45000.0         HR
3  Sneha  29.0  80000.0       Tech
5  Divya  27.0  60000.0    Finance
    Name   Age   Salary Department
0   Ravi  28.0  45000.0         HR
1  Priya  32.0  55000.0       Tech
2  Arjun  30.2  50000.0         HR
3  Sneha  29.0  80000.0       Tech
4  Kumar  35.0  55000.0         HR
5  Divya  27.0  60000.0    Finance
Name          0
Age           0
Salary        0
Department    0
dtype: int64
Department
Finance    60000.0
HR         50000.0
Tech       67500.0
Name: Salary, dtype: float64
Department
Finance     60000.0
HR         150000.0
Tech       135000.0
Name: Salary, dtype: float64
Department
Finance    1
HR         3
Tech       2
Name: Salary, dtype: int64
Department
Finance    60000.0
HR         55000.0
Tech       80000.0
Name: Salary, dtype: float64
__________________________________________________
               mean      max  count       sum
Department
Finance     60000.0  60000.0      1   60000.0
HR          50000.0  55000.0      3  150000.0
Tech        67500.0  80000.0      2  135000.0
             Salary        Age
Department
Finance     60000.0  27.000000
HR          50000.0  31.066667
Tech        67500.0  30.500000

# MINI TASK - REAL WORLD

In [2]:
import pandas as pd

data3 = {
    "Name":       ["Arun", "Bhanu", "Chitra", "Deepak", 
                   "Esha", "Farhan", "Geetha", "Hari"],
    "Age":        [24, 35, 28, 42, 30, 26, 38, None],
    "Salary":     [30000, 85000, None, 95000, 61000, 40000, 78000, 72000],
    "Department": ["HR", "Tech", "Finance", "Tech", 
                   "HR", "Finance", "Tech", None],
    "Experience": [1, 8, 4, 15, 6, 2, 10, 7]
}

# Tasks:
# 1. Create the DataFrame
df3 = pd.DataFrame(data3)
print(df3)
print("_"*50)

# 2. Check how many missing values exist in each column
print(df3.isnull().sum())
print("_"*50)

# 3. Fill missing Age with median age
filling_age_median = df3['Age'].median()
df3["Age"] = df3["Age"].fillna(filling_age_median)


# 4. Fill missing Salary with mean salary
filling_salary_mean = df3["Salary"].mean()
df3["Salary"] = df3["Salary"].fillna(filling_salary_mean).round(2)



# 5. Fill missing Department with mode
df3["Department"] = df3["Department"].fillna(df3["Department"].mode()[0])
print(df3)
print("_"*50)

# 6. Verify no missing values remain
print(df3.isnull().sum())
print("_"*50)

# 7. Use iloc to select first 3 rows and first 3 columns
sorting_rows_cols = df3.iloc[:3 , :3]
print(sorting_rows_cols)
print("_"*50)
# 8. Use loc to filter employees with Experience > 5,
#    showing only Name, Department, Salary columns
filter_emp = df3.loc[df3["Experience"]>5,["Name" , "Department","Salary"]]
print(filter_emp)
print("_"*50)

# 9. Find average salary per department using groupby
avg_sal = df3.groupby("Department")["Salary"].mean()
print(avg_sal)
print("_"*50)

# 10. Find total experience per department using groupby
total_exp = df3.groupby("Department")["Experience"].sum()
print(total_exp)

     Name   Age   Salary Department  Experience
0    Arun  24.0  30000.0         HR           1
1   Bhanu  35.0  85000.0       Tech           8
2  Chitra  28.0      NaN    Finance           4
3  Deepak  42.0  95000.0       Tech          15
4    Esha  30.0  61000.0         HR           6
5  Farhan  26.0  40000.0    Finance           2
6  Geetha  38.0  78000.0       Tech          10
7    Hari   NaN  72000.0       None           7
__________________________________________________
Name          0
Age           1
Salary        1
Department    1
Experience    0
dtype: int64
__________________________________________________
     Name   Age    Salary Department  Experience
0    Arun  24.0  30000.00         HR           1
1   Bhanu  35.0  85000.00       Tech           8
2  Chitra  28.0  65857.14    Finance           4
3  Deepak  42.0  95000.00       Tech          15
4    Esha  30.0  61000.00         HR           6
5  Farhan  26.0  40000.00    Finance           2
6  Geetha  38.0  78000.00       Tech          10
7    Hari  30.0  72000.00       Tech           7
__________________________________________________
Name          0
Age           0
Salary        0
Department    0
Experience    0
dtype: int64
__________________________________________________
     Name   Age    Salary
0    Arun  24.0  30000.00
1   Bhanu  35.0  85000.00
2  Chitra  28.0  65857.14
__________________________________________________
     Name Department   Salary
1   Bhanu       Tech  85000.0
3  Deepak       Tech  95000.0
4    Esha         HR  61000.0
6  Geetha       Tech  78000.0
7    Hari       Tech  72000.0
__________________________________________________
Department
Finance    52928.57
HR         45500.00
Tech       82500.00
Name: Salary, dtype: float64
__________________________________________________
Department
Finance     6
HR          7
Tech       40
Name: Experience, dtype: int64

# ChatGPT Task - Small Problem

In [ ]:

data4 = {
    "Name": ["A", "B", "C", "D", "E"],
    "Age": [25, 28, 22, 30, 26],
    "Salary": [30000, 40000, 25000, 50000, 35000],
    "Department": ["HR", "IT", "Finance", "IT", "HR"]
}

df4 = pd.DataFrame(data4)

# 1 Show employees with Salary > 30000
emp_sal = df4.loc[df4["Salary"] > 30000]
print(emp_sal)
print("_"*50)

# 2 Show employees in IT department
emp_IT_dep = df4.loc[df4["Department"] == "IT"]
print(emp_IT_dep)
print("_"*50)

# 3 Show employees with Age < 28
emp_age = df4.loc[df4["Age"] < 28]
print(emp_age)
print("_"*50)


# 4 Show only Name and Salary columns
name_sal_cols = df4[["Name" , "Salary"]]
print(name_sal_cols)
print("_"*50)

# 5 Show first 3 rows using iloc
first_3_rows = df4.iloc[:3]
print(first_3_rows)
print("_"*50)

# 6 Show Salary of employee at index 3 using loc
sal_ind_3 = df4.loc[3,"Salary"]
print(sal_ind_3)

# 1 Show employees with Salary > 30000 AND Age < 30
print(df4.loc[(df4["Salary"]>30000) & (df4["Age"]<30),["Name"]])

# 2 Show employees NOT in HR department
print(df4.loc[~df4["Department"].isin(["HR"]) ])

# 3 Sort DataFrame by Salary descending
sorting_sal  = df4.sort_values(by="Salary" , ascending=False)
print(sorting_sal)

# 4 Add new column "Tax" = 5% of Salary
df4["Tax"] = df4["Salary"] * 1.05
print(df4)

# 5 Show top 2 highest paid employees
print(sorting_sal.iloc[:2])

# TASK - 1 REAL-WORLD DATA HANDLING USING DATAFRAMES (PANDAS)

In [1]:
import pandas as pd

data5 = {
    "Patient_ID":  [1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010],
    "Name":        ["Ravi", "Priya", "Arjun", "Sneha", "Kumar", 
                    "Divya", "Kiran", "Meena", "Suresh", "Anita"],
    "Age":         [45, 32, None, 60, 28, 52, None, 38, 47, 55],
    "Department":  ["Cardiology", "Orthopedic", "Cardiology", "Neurology", 
                    "Orthopedic", "Cardiology", None, "Neurology", 
                    "Orthopedic", None],
    "Bill_Amount": [25000, 15000, 30000, None, 12000, 
                    28000, 22000, None, 18000, 35000],
    "Days_Admitted": [5, 3, 7, 10, 2, 6, 4, 8, 3, 9],
    "Recovered":   ["Yes", "Yes", "No", "Yes", "Yes", 
                    "No", "Yes", "No", "Yes", None]
}


##  Tasks
# ```
# SECTION A  Data Exploration
# 1. Create the DataFrame and print it
df5 = pd.DataFrame(data5)
print(df5)
print("_"*50)
# 2. Check shape  how many patients and columns
# df5.shape           #Checked

# # 3. Run .info() and .describe()
# df5.info()          #Checked
# df5.describe()      #Checked

# 4. Find how many missing values are in each column
print("Before Cleaning Data:-\n",df5.isnull().sum())
print("_"*50)

# ------------------------------------------------------------------------
# SECTION B  Data Cleaning
# 5. Fill missing Age with median age
filling_age = df5["Age"].median()
df5["Age"] = df5["Age"].fillna(filling_age)

# 6. Fill missing Bill_Amount with mean bill amount (round to 2 decimals)
filling_bill = df5["Bill_Amount"].mean()
df5["Bill_Amount"] = df5["Bill_Amount"].fillna(filling_bill).round(2)

# 7. Fill missing Department with mode
df5["Department"] = df5["Department"].fillna(df5["Department"].mode()[0])

# 8. Fill missing Recovered with mode
df5["Recovered"] = df5["Recovered"].fillna(df5["Recovered"].mode()[0])
df5

# 9. Verify zero missing values remain
checking_missing_val = df5.isnull().sum()
print("Before Cleaning Data:-\n",checking_missing_val)
print("_"*50)

# --------------------------------------------------------------------------
# SECTION C  Selecting and Filtering
# 10. Use iloc to select rows 3 to 7 and first 4 columns
select_rows_3_7 = df5.iloc[3:8 , :4]
print(select_rows_3_7)
print("_"*50)

# 11. Use loc to get Name, Department, Bill_Amount 
#     of patients admitted more than 5 days
name_dep_bill_pat = df5.loc[df5["Days_Admitted"] > 5, ["Name" , "Department", "Bill_Amount"]]
print(name_dep_bill_pat)
print("_"*50)

# 12. Filter patients who are in Cardiology department
dep_cardio_pat = df5.loc[df5["Department"] == "Cardiology"]
print(dep_cardio_pat)
print("_"*50)

# 13. Filter patients whose Bill_Amount is above 20000 
#     AND who have Recovered = "Yes"
patient_bill = df5.loc[(df5["Bill_Amount"] > 20000) & (df5["Recovered"] == "Yes")]
print(patient_bill)
print("_"*50)

# --------------------------------------------------------------------------
# SECTION D  Analysis with groupby
# 14. Find average Bill_Amount per Department
avg_bill_amount = df5.groupby("Department")["Bill_Amount"].mean()
print(avg_bill_amount)
print("_"*50)

# 15. Find total Days_Admitted per Department
total_days_dep = df5.groupby("Department")["Days_Admitted"].sum()
print(total_days_dep)
print("_"*50)

# 16. Find count of patients per Department
pat_count_dep = df5.groupby("Department")["Patient_ID"].count()
print(pat_count_dep)
print("_"*50)

# 17. Find max Bill_Amount per Department
max_bill_dep = df5.groupby("Department")["Bill_Amount"].max()
print(max_bill_dep)
print("_"*50)

# 18. Get mean, max, min of Bill_Amount 
#     per Department in ONE line using .agg()
agg_dep = df5.groupby("Department")["Bill_Amount"].agg(["mean", "max","min"])
print(agg_dep)
print("_"*50)
# --------------------------------------------------------------------------
# SECTION E  Think Like a Data Scientist
# 19. Add a new column "Bill_Per_Day" = Bill_Amount / Days_Admitted
#     (this tells cost per day for each patient)
df5["Bill_Per_Day"] = df5["Bill_Amount"] / df5["Days_Admitted"]
df5
print("_"*50)

# 20. Find which Department has the highest average Bill_Per_Day
#     Hint: groupby + mean on the new column
dep_high_billperday = df5.groupby("Department")["Bill_Per_Day"].mean().idxmax()
print(dep_high_billperday)

   Patient_ID    Name   Age  Department  Bill_Amount  Days_Admitted Recovered
0        1001    Ravi  45.0  Cardiology      25000.0              5       Yes
1        1002   Priya  32.0  Orthopedic      15000.0              3       Yes
2        1003   Arjun   NaN  Cardiology      30000.0              7        No
3        1004   Sneha  60.0   Neurology          NaN             10       Yes
4        1005   Kumar  28.0  Orthopedic      12000.0              2       Yes
5        1006   Divya  52.0  Cardiology      28000.0              6        No
6        1007   Kiran   NaN        None      22000.0              4       Yes
7        1008   Meena  38.0   Neurology          NaN              8        No
8        1009  Suresh  47.0  Orthopedic      18000.0              3       Yes
9        1010   Anita  55.0        None      35000.0              9      None
__________________________________________________
Before Cleaning Data:-
 Patient_ID       0
Name             0
Age              2
Department       2
Bill_Amount      2
Days_Admitted    0
Recovered        1
dtype: int64
__________________________________________________
Before Cleaning Data:-
 Patient_ID       0
Name             0
Age              0
Department       0
Bill_Amount      0
Days_Admitted    0
Recovered        0
dtype: int64
__________________________________________________
   Patient_ID   Name   Age  Department
3        1004  Sneha  60.0   Neurology
4        1005  Kumar  28.0  Orthopedic
5        1006  Divya  52.0  Cardiology
6        1007  Kiran  46.0  Cardiology
7        1008  Meena  38.0   Neurology
__________________________________________________
    Name  Department  Bill_Amount
2  Arjun  Cardiology      30000.0
3  Sneha   Neurology      23125.0
5  Divya  Cardiology      28000.0
7  Meena   Neurology      23125.0
9  Anita  Cardiology      35000.0
__________________________________________________
   Patient_ID   Name   Age  Department  Bill_Amount  Days_Admitted Recovered
0        1001   Ravi  45.0  Cardiology      25000.0              5       Yes
2        1003  Arjun  46.0  Cardiology      30000.0              7        No
5        1006  Divya  52.0  Cardiology      28000.0              6        No
6        1007  Kiran  46.0  Cardiology      22000.0              4       Yes
9        1010  Anita  55.0  Cardiology      35000.0              9       Yes
__________________________________________________
   Patient_ID   Name   Age  Department  Bill_Amount  Days_Admitted Recovered
0        1001   Ravi  45.0  Cardiology      25000.0              5       Yes
3        1004  Sneha  60.0   Neurology      23125.0             10       Yes
6        1007  Kiran  46.0  Cardiology      22000.0              4       Yes
9        1010  Anita  55.0  Cardiology      35000.0              9       Yes
__________________________________________________
Department
Cardiology    28000.0
Neurology     23125.0
Orthopedic    15000.0
Name: Bill_Amount, dtype: float64
__________________________________________________
Department
Cardiology    31
Neurology     18
Orthopedic     8
Name: Days_Admitted, dtype: int64
__________________________________________________
Department
Cardiology    5
Neurology     2
Orthopedic    3
Name: Patient_ID, dtype: int64
__________________________________________________
Department
Cardiology    35000.0
Neurology     23125.0
Orthopedic    18000.0
Name: Bill_Amount, dtype: float64
__________________________________________________
               mean      max      min
Department
Cardiology  28000.0  35000.0  22000.0
Neurology   23125.0  23125.0  23125.0
Orthopedic  15000.0  18000.0  12000.0
__________________________________________________
__________________________________________________
Orthopedic