In [2]:
import pandas as pd


num = pd.Series([1,2,3,4,5,6])
print(num)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [3]:
num = pd.Series([1,2,3,4,5,6,7] , index=["a" , "b" , "c" , "d","e","f","g"])

num
print(num[2])
print(num[:7])
print(num["b"])

3
a    1
b    2
c    3
d    4
e    5
f    6
g    7
dtype: int64
2

/tmp/ipython-input-2924277500.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(num[2])

In [4]:
data = {
    "Name":       ["Ravi", "Priya", "Arjun", "Sneha", "Kumar"],
    "Age":        [28, 32, 25, 29, 35],
    "Salary":     [45000, 75000, 50000, 80000, 60000],
    "Department": ["HR", "Tech", "Finance", "Tech", "HR"]
}

df = pd.DataFrame(data)

# for i in df["name"]:
#     print(i)
print(df)
print("_" * 45)
# print(df.head())
print(df.head(2))
print("_" * 45)
print(df.tail(2),"\n")
print(df.shape)

    Name  Age  Salary Department
0   Ravi   28   45000         HR
1  Priya   32   75000       Tech
2  Arjun   25   50000    Finance
3  Sneha   29   80000       Tech
4  Kumar   35   60000         HR
_____________________________________________
    Name  Age  Salary Department
0   Ravi   28   45000         HR
1  Priya   32   75000       Tech
_____________________________________________
    Name  Age  Salary Department
3  Sneha   29   80000       Tech
4  Kumar   35   60000         HR

(5, 4)

In [5]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        5 non-null      object
 1   Age         5 non-null      int64
 2   Salary      5 non-null      int64
 3   Department  5 non-null      object
dtypes: int64(2), object(2)
memory usage: 292.0+ bytes
None

In [6]:
df.describe()

             Age        Salary
count   5.000000      5.000000
mean   29.800000  62000.000000
std     3.834058  15247.950682
min    25.000000  45000.000000
25%    28.000000  50000.000000
50%    29.000000  60000.000000
75%    32.000000  75000.000000
max    35.000000  80000.000000

In [7]:
df

    Name  Age  Salary Department
0   Ravi   28   45000         HR
1  Priya   32   75000       Tech
2  Arjun   25   50000    Finance
3  Sneha   29   80000       Tech
4  Kumar   35   60000         HR

In [10]:
high_earners = df[df["Salary"]>60000]

emp = df[df["Department"] == "Tech"]


result = df[(df["Salary"] > 50000) & (df["Department"] == "Tech")]


# Adding new column
df["New Salary"] = df["Salary"] * 1.10


df.columns
print(high_earners)
print(emp)
print(result)
# print(df)

    Name  Age  Salary Department  New Salary
1  Priya   32   75000       Tech     82500.0
3  Sneha   29   80000       Tech     88000.0
    Name  Age  Salary Department  New Salary
1  Priya   32   75000       Tech     82500.0
3  Sneha   29   80000       Tech     88000.0
    Name  Age  Salary Department  New Salary
1  Priya   32   75000       Tech     82500.0
3  Sneha   29   80000       Tech     88000.0

# Small Assignment of first Phase

In [8]:
# A company has 7 employees:

# Name:       ["Arun", "Bhanu", "Chitra", "Deepak",
#              "Esha", "Farhan", "Geetha"]
# Age:        [24, 35, 28, 42, 30, 26, 38]
# Salary:     [30000, 85000, 52000, 95000, 61000, 40000, 78000]
# Department: ["HR", "Tech", "Finance", "Tech",
#              "HR", "Finance", "Tech"]
# Experience: [1, 8, 4, 15, 6, 2, 10]

# Tasks:
# 1. Create a DataFrame with this data
# 2. Print first 4 rows using .head()
# 3. Check shape, info, and describe
# 4. Select only the Name and Salary columns
# 5. Filter employees whose salary is above 60000
# 6. Filter employees who are in the Tech department
# 7. Add a new column "Bonus" = 10% of salary for everyone
# 8. Find the average salary using the DataFrame column

In [65]:
import pandas as pd
# import numpy as np

data = {
    "Name" :      ["Arun", "Bhanu", "Chitra", "Deepak", "Esha", "Farhan", "Geetha"],
    "Age" :       [24, 35, 28, 42, 30, 26, 38],
    "Salary":     [30000, 85000, 52000, 95000, 61000, 40000, 78000],
    "Department": ["HR", "Tech", "Finance", "Tech", "HR", "Finance", "Tech"],
    "Experience": [1, 8, 4, 15, 6, 2, 10]
}


df = pd.DataFrame(data)

# Tasks:
# 1. Create a DataFrame with this data
print(df)
print("_"*45)
# 2. Print first 4 rows using .head()
first_4_rows = df.head(4)
print(first_4_rows)

# 3. Check shape, info, and describe
# print(df.shape)
# print("_"*45)
# df.describe()
# print("_"*45)
# df.info()

# 4. Select only the Name and Salary columns
name_col = df[["Name","Salary"]]
print(name_col)
print("_"*45)

# 5. Filter employees whose salary is above 60000
filter_sal = df[df["Salary"] > 60000]
print(filter_sal)
print("_"*45)

# 6. Filter employees who are in the Tech department
filter_tech = df[df["Department"] == "Tech"]
print(filter_tech)
print("_"*45)

# 7. Add a new column "Bonus" = 10% of salary for everyone
df["Bonus Salary"] = df["Salary"] * 1.10
print(df)

# 8. Find the average salary using the DataFrame column
avg_salary = df["Salary"].mean()
print(avg_salary)

     Name  Age  Salary Department  Experience
0    Arun   24   30000         HR           1
1   Bhanu   35   85000       Tech           8
2  Chitra   28   52000    Finance           4
3  Deepak   42   95000       Tech          15
4    Esha   30   61000         HR           6
5  Farhan   26   40000    Finance           2
6  Geetha   38   78000       Tech          10
_____________________________________________
     Name  Age  Salary Department  Experience
0    Arun   24   30000         HR           1
1   Bhanu   35   85000       Tech           8
2  Chitra   28   52000    Finance           4
3  Deepak   42   95000       Tech          15
     Name  Salary
0    Arun   30000
1   Bhanu   85000
2  Chitra   52000
3  Deepak   95000
4    Esha   61000
5  Farhan   40000
6  Geetha   78000
_____________________________________________
     Name  Age  Salary Department  Experience
1   Bhanu   35   85000       Tech           8
3  Deepak   42   95000       Tech          15
4    Esha   30   61000         HR           6
6  Geetha   38   78000       Tech          10
_____________________________________________
     Name  Age  Salary Department  Experience
1   Bhanu   35   85000       Tech           8
3  Deepak   42   95000       Tech          15
6  Geetha   38   78000       Tech          10
_____________________________________________
     Name  Age  Salary Department  Experience  Bonus Salary
0    Arun   24   30000         HR           1       33000.0
1   Bhanu   35   85000       Tech           8       93500.0
2  Chitra   28   52000    Finance           4       57200.0
3  Deepak   42   95000       Tech          15      104500.0
4    Esha   30   61000         HR           6       67100.0
5  Farhan   26   40000    Finance           2       44000.0
6  Geetha   38   78000       Tech          10       85800.0
63000.0

In [8]:
# Print first 2 rows
# Print shape
# Print column names
# Find average salary
# Add a column "Bonus" = Salary * 0.1

In [74]:
data = {
    "Name" : ["A","B","C","D"],
    "Age"  : [25,28,22,30],
    "Salary" :[30000,40000,25000,50000]
}

df = pd.DataFrame(data)
print(df)

print(df.head(2))

df.shape
print(df["Name"])
print(df["Salary"].mean())

df["Bonus"] = df["Salary"] * 0.1
df

  Name  Age  Salary
0    A   25   30000
1    B   28   40000
2    C   22   25000
3    D   30   50000
  Name  Age  Salary
0    A   25   30000
1    B   28   40000
0    A
1    B
2    C
3    D
Name: Name, dtype: object
36250.0

  Name  Age  Salary   Bonus
0    A   25   30000  3000.0
1    B   28   40000  4000.0
2    C   22   25000  2500.0
3    D   30   50000  5000.0

In [96]:
import numpy as np

data2 = {
    "Name":       ["Ravi", "Priya", "Arjun", "Sneha", "Kumar", "Divya"],
    "Age":        [28, 32, None, 29, 35, 27],
    "Salary":     [45000, None, 50000, 80000, None, 60000],
    "Department": ["HR", "Tech", None, "Tech", "HR", "Finance"]
}
df2 = pd.DataFrame(data2)
print(df2)

print(df2.isnull())
print(df2.isnull().sum())

df_dropped = df2.dropna()
print(df_dropped)


# fillna()
filling_age = df2["Age"].mean()
df2["Age"] = df2["Age"].fillna(filling_age)

filling_salary = df2["Salary"].median()
df2["Salary"] = df2["Salary"].fillna(filling_salary)


df2["Department"] = df2["Department"].fillna(df2["Department"].mode()[0])

print(df2)
print(df2.isnull().sum())


# Grouby operation
grouping = df2.groupby("Department")["Salary"].mean()
print(grouping)

print(df2.groupby("Department")["Salary"].sum())
print(df2.groupby("Department")["Salary"].count())
print(df2.groupby("Department")["Salary"].max())
print("_"*50)
print(df2.groupby("Department")["Salary"].agg(["mean" , "max" , "count" ,"sum"]))
print(df2.groupby("Department")[["Salary", "Age"]].mean())

    Name   Age   Salary Department
0   Ravi  28.0  45000.0         HR
1  Priya  32.0      NaN       Tech
2  Arjun   NaN  50000.0       None
3  Sneha  29.0  80000.0       Tech
4  Kumar  35.0      NaN         HR
5  Divya  27.0  60000.0    Finance
    Name    Age  Salary  Department
0  False  False   False       False
1  False  False    True       False
2  False   True   False        True
3  False  False   False       False
4  False  False    True       False
5  False  False   False       False
Name          0
Age           1
Salary        2
Department    1
dtype: int64
    Name   Age   Salary Department
0   Ravi  28.0  45000.0         HR
3  Sneha  29.0  80000.0       Tech
5  Divya  27.0  60000.0    Finance
    Name   Age   Salary Department
0   Ravi  28.0  45000.0         HR
1  Priya  32.0  55000.0       Tech
2  Arjun  30.2  50000.0         HR
3  Sneha  29.0  80000.0       Tech
4  Kumar  35.0  55000.0         HR
5  Divya  27.0  60000.0    Finance
Name          0
Age           0
Salary        0
Department    0
dtype: int64
Department
Finance    60000.0
HR         50000.0
Tech       67500.0
Name: Salary, dtype: float64
Department
Finance     60000.0
HR         150000.0
Tech       135000.0
Name: Salary, dtype: float64
Department
Finance    1
HR         3
Tech       2
Name: Salary, dtype: int64
Department
Finance    60000.0
HR         55000.0
Tech       80000.0
Name: Salary, dtype: float64
__________________________________________________
               mean      max  count       sum
Department
Finance     60000.0  60000.0      1   60000.0
HR          50000.0  55000.0      3  150000.0
Tech        67500.0  80000.0      2  135000.0
             Salary        Age
Department
Finance     60000.0  27.000000
HR          50000.0  31.066667
Tech        67500.0  30.500000